body {
  background-color: #FFE0E0;

}
hr {
  opacity: 0.3;
  background-color: transparent;
  border-style: none;
  border-top:10px  dotted #3f72af;
  width: 7%;
}

h1 {
  color: #66bfbf;
  letter-spacing: 3px;
  text-shadow: 1px 1px #33313b;
  font-family: 'Annie Use Your Telescope', cursive;

}

h3 {
  color: #3c4f65;
   font-family: 'Abril Fatface', monospace;
}
